--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
torchvision==0.20.1+cpu
requests
beautifulsoup4
lxml
pandas
numpy
transformers
tqdm
yfinance
streamlit
plotly
